* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  animation: animateBg 3s linear infinite;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@keyframes animateBg {

  100% { filter: hue-rotate(360deg);}
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .div-form {
  padding: 60px;
}

.main .div-preview {
  padding: 100px;
}

.container .cards {
  display: flex;
  flex-direction: row;
}

.box-form, .box_card {
  background: #1c1c1cd2;
  border-radius: 8px;
  color: rgb(197, 206, 206);
  font-size: 1.4em;
  height: 70vh;
  position: relative;
  width: 40vw;
}

.box-form form, .card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  inset: 4px;
  justify-content: space-between;
  padding: 50px 40px;
  position: absolute;
  z-index: 2;
}

/* .form label {
    margin-top: 20px;
    margin-left: 10px;
}

.form label input, textarea {
    margin-left: 20px;
}

#name {
    margin-left: 45px;
}

#Attr01, #Attr02, #Attr03 {
    margin-left: 42px;
}

#image {
    margin-left: 30px;
}

#raridade {
    margin-left: 26px;
}

#button {
    width: 50%;
} */

.card_persona, .card_attr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
